{% extends 'base.html' %}
{% load static %}

{% block content %}
</header> <!-- section-header.// -->
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/ok.png' %}"  style="height: 200px; margin: 0 auto; display: block;">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="./store.html" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row equal-height">
	{% for product in products %}
	<div class="col-3">
		<div class="card card-product-grid">
			<a href="{% url 'product_detail' product.id %}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="d-flex flex-wrap justify-content-center h-100 align-items-center caption caption-bottom text-center">
				<a href="{% url 'product_detail' product.id %}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">${{ product.price }}</div> <!-- price-wrap.// -->
				<a href="{% url 'product_detail' product.id %}" class="btn btn-block btn-primary"> <span class="text">View Details</span>   </a>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->




<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->

</body>
</html>
{% endblock %}